@use 'index.scss' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  & {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: $color-bg;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.25;
    opacity: 1;
  }
}

ul {
  list-style: none;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

.blur-on-load {
  filter: blur(15px);
  background-color: #eee;
  transition: filter 0.5s ease;
  will-change: filter;
}

.blur-on-load.lazyloaded {
  filter: blur(0);
}

/* chowamy toolbar react-doc-viewer */
#pdf-controls {
  display: none !important;
}

#pdf-page-wrapper {
  margin-top: 20px !important;
}
